<h1>All your plots, <%= current_user.username %> </h1>
<br>
<% @plots.each do |plot| %>
    <p><a href='/plots/<%=plot.id%>'><%= plot.title %></a></p>
<%end%>
<br>
<a href='/'>Home</a>
<br>
<a href='/plots/new'>Create a new plot</a>
<br>
<a href='/plots/all'>Read plots by other users</a>
<br>
<a href='/logout'>Logout</a>


