<form method='post' action='/plots'>
    <p>Title:</p>
    <input type='text' name='title'> 
    <p>Title:</p>
    <textarea rows="3" cols="60" name="setting">Enter details here...</textarea> 
    <p>Title:</p>
    <textarea rows="3" cols="60" name="hero">Enter details here...</textarea> 
    <p>Title:</p>
    <textarea rows="3" cols="60" name="enemy">Enter details here...</textarea> 
    <p>Title:</p>
    <textarea rows="3" cols="60" name="conflict">Enter details here...</textarea> 
    <p>Title:</p>
    <textarea rows="3" cols="60" name="resolution">Enter details here...</textarea><br>
    
    <input type='submit' value='Submit'>
</form>


# t.string :title
# t.string :setting
# t.string :hero
# t.string :enemy
# t.string :conflict
# t.string :climax
# t.string :resolution
# t.string :user_id