<form method='post' action='/plots'>
    <input type='text' name='title'><br>
    <textarea rows="3" cols="60" name="setting">Enter details here...</textarea><br>
    <input type='submit' value='Submit'>
</form>


# t.string :title
# t.string :setting
# t.string :hero
# t.string :enemy
# t.string :conflict
# t.string :climax
# t.string :resolution
# t.string :user_id