<h1>Show</h1>

<%= @plot.title %>

<br><br>
<a href='/'>Home</a>
<br>
<a href="/plots/#{plot.id}/edit">Edit this plot</a>
<br>
<a href='/plots'>See all your plots</a>
<br>
<a href='/plots/all'>See plots by other users</a>
<br>
<a href='/logout'>Logout</a>