<h1> Login </h1>

<form method='post' action='/login'>
    Username:
    <input type='text' name='username'>
    Password:
    <input type='password' name='password'>
    <input type='submit' value='Submit'>
</form>
<br>
<p><a href='/signup'>Signup</a></p>