<h1> Login </h1>

<form method='post' action=''>
    name
    <input type='text' name='username'>
    password
    <input type='password' name='password'>
    <input type='submit' value='Submit'>
</form>