<h1> Sign Up </h1>
<h3> Register an account below to get started! </h3>
<form method='post' action=''>
    username
    <input type='text' name='username'>
    password
    <input type='text' name='password'>
    email
    <input type='text' name='email'>
    <input type='submit' value='Submit'>
</form>