<!DOCTYPE html>
  <head>

    <title>Plot Maker</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="wrapper">
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
      </div>
    <% end %>
      
        <%= yield %>
    </div>

  </body>
</html>
