<!DOCTYPE html>
  <head>

    <title>Plot Maker</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>
    </div>

  </body>
</html>
