<div>
    <h1>Welcome to Plot Maker</h1>
    <h2>The place to quickly generate ideas for your story.</h2>
    <h3><a href='/login'>Log In</a></h3>
    
    <h3><a href='/signup'>Sign Up</a></h3>
</div>
